server:
  port: 8080

spring:
  jpa:
    generate-ddl: false
    # 输出sql语句
    show-sql: true
    hibernate:
      ddl-auto: none

  datasource:
    url: jdbc:log4jdbc:mysql://localhost:3306/work?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&nullCatalogMeansCurrent=true
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource    # 使用阿里druid连接池
    driverClassName: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    druid:
      min-idle: 2
      initial-size: 5
      max-active: 10
      max-wait: 5000
      validation-query: select '1' from dual

#  h2:
#    console:
#      enabled: true
#      # 映射h2
#      path: /h2

  flyway:
#    clean-on-validation-error: true # 仅限开发环境使用
    locations: classpath:/migration
