<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 该配置主要是打印  logback 的配置信息 -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%contextName-) %red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}) - %gray(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>logs/access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 10天 -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
        <!-- 日志级别限制 -->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>INFO</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY </onMismatch>-->
        <!--</filter>-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!--日志文件最大的大小 -->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--sql 打印在控制台-->
    <!--<logger name="jdbc.sqltiming" level="INFO">-->
        <!--<appender-ref ref="console" />-->
    <!--</logger>-->

    <!--普通日志输出到控制台-->
    <root level="info">
        <appender-ref ref="console" />
    </root>

    <logger name="jdbc.resultsettable" level="OFF"></logger>
    <logger name="jdbc.sqlonly" level="OFF"></logger>
    <logger name="jdbc.audit" level="OFF"></logger>
    <logger name="jdbc.resultset" level="OFF"></logger>
    <logger name="jdbc.connection" level="OFF"></logger>

    <!--同时记录log日志-->
    <!--<root level="INFO">-->
        <!--<appender-ref ref="ACCESS" />-->
    <!--</root>-->



</configuration>